<!-- <p>listar-producto works!</p>
<div id="productos">
  <ul class="productos">
    <li *ngFor="let item of listaProductos | async">
      <span>{{item.id}}</span> {{item.descripcion}}
    </li>
  </ul>
</div> -->
<div fxLayoutAlign="center center" fxFlex="100">
  <h3>Renta de carros</h3>
</div>
<!-- <button mat-button (click)="openDialog()">Open dialog</button> -->
<div class="pd-table">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="placa">
          <th mat-header-cell *matHeaderCellDef> Placa </th>
          <td mat-cell *matCellDef="let element"> {{element.placa}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="modelo">
          <th mat-header-cell *matHeaderCellDef> Modelo </th>
          <td mat-cell *matCellDef="let element"> {{element.modelo}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="gama">
          <th mat-header-cell *matHeaderCellDef> Gama </th>
          <td mat-cell *matCellDef="let element"> {{element.gama}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="valor">
          <th mat-header-cell *matHeaderCellDef> Valor </th>
          <td mat-cell *matCellDef="let element"> {{element.valor}} </td>
      </ng-container>

      <ng-container matColumnDef="selected">
          <th mat-header-cell *matHeaderCellDef> Acciones </th>
          <td mat-cell *matCellDef="let element">
              <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="5px">

                  <section>
                      <div (click)="eliminar(element)">
                          <button matTooltip="Eliminar" matTooltipClass="example-tooltip-red"
                              matTooltipPosition="above" mat-mini-fab color="primary"
                              aria-label="Example icon button with a menu icon">
                              <mat-icon>delete_forever</mat-icon>
                          </button>
                      </div>
                  </section>
                  <section>
                      <div>
                          <button matTooltip="Editar" matTooltipClass="example-tooltip-red"
                              matTooltipPosition="above" mat-mini-fab color="primary"
                              aria-label="Example icon button with a menu icon">
                              <mat-icon>mode_edit</mat-icon>
                          </button>
                      </div>
                  </section>
                  <section>
                      <div>
                          <button matTooltip="Rentar" matTooltipClass="example-tooltip-red"
                              matTooltipPosition="above" mat-mini-fab color="primary"
                              aria-label="Example icon button with a menu icon">
                              <mat-icon>money</mat-icon>
                          </button>
                      </div>
                  </section>
              </div>

          </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>